<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4 class='blog-side-text'>You need to rewire your brain and think like a developer.</h4>
    <p class="blog-side-text">This was one of the first things Michael Finneran told us upon our arrival to GA's WDI program. At the time, I did not think much of it, but as the class progressed you slowly felt your brain approaching problems differently and you really begin to feel the weight of those words.</p>
  </div>
  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://github.com/bcameron1489"><%= fa_icon "github-square" %></a></li>
      <li><a href="https://www.linkedin.com/in/briancameron4/"><%= fa_icon "linkedin" %></a></li>
    </ol>
  </div>
</div>
