<div class="app-card-container">
  <div class="card">
    <h2>About Me</h2>

    <hr>

    <div class="row">
      <div class="col-md-5">
        <%= image_tag "mypic.jpg", width: 300, height: 320, alt: "profile image", class: 'profile-img' %>

        <div class="skills">
          <% @skills.each do |skill| %>
            <div class="skill">
              <h4><%= skill.title %>
              <div class="progress">
                <div
                  class="progress-bar progress-bar-striped bg-warning"
                  role="progressbar"
                  aria-valuenow="<%= skill.percent_utilized %>"
                  aria-valuemax="100"
                  style="width: <%= skill.percent_utilized %>%"
                  >
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <div class="col-md-7 about-text">
        <p class="card-body">My name is Brian Cameron and I'm a full stack web developer who's eager to learn and excited to grow my skill set.
          My prior history in logistics has instilled the importance of communication and user feedback.
          So I place a high value on a team who understands the importance in collaboration and puts an emphasis on using
          feedback and data to identify customer trends & issues.  I'm motivated, positive, and excited for the challenges to come.</p>

        <p>
          <button
            class="btn btn-primary about-btn"
            type="button"
            data-toggle="collapse"
            data-target="#jobHistory"
            aria-expanded="false"
            aria-controls="jobHistory"
          >
          Job History
          </button>

          <button
            class="btn btn-primary about-btn"
            type="button"
            data-toggle="collapse"
            data-target="#education"
            aria-expanded="false"
            aria-controls="education"
          >
          Education
          </button>

          <button
            class="btn btn-primary about-btn"
            type="button"
            data-toggle="collapse"
            data-target="#additional-skills"
            aria-expanded="false"
            aria-controls="additional-skills"
          >
          Skills
          </button>
        </p>

        <p>
          <div class="collapse" id="jobHistory">
            <div class="card card-block">
              <h4>Peapod: Driver/Logistics</h4>
              <h6>Apr 2012 - May 2017</h6>
              <p>Non-CDL delivery driver position aimed at delivering quality food to homes and businesses at an affordable rate. My duties included : Minor truck maintenance, loading/delivery the product and constant communication with dispatch.</p>
            </div>
            <div class="card card-block">
              <h4>Bar Back</h4>
              <h6>May 2009 - Nov 2011</h6>
              <p>I maintained the bar area and served as a runner for the bar staff. Each member of the bar staff was responsible for knowing Tastings vast wine catalog in addition to knowing every minor detail of their menu.</p>
            </div>
            <div class="card card-block">
              <h4>Air Purchase</h4>
              <h6>Sep 2007 - Dec 2008</h6>
              <p>I was responsible for all outgoing deliveries, shop maintenance and front end service. In addition to delivering HVAC products on job sites we also distributed overstock to neighboring branches.</p>
            </div>
          </div>
          <div class="collapse" id="education">
            <div class="card card-block">
              <h4>General Assembly Boston</h4>
              <h6>Oct 2017 - Feb 2018</h6>
              <p>Full Stack Developer of the Web Development Immersive class of 2017 where I created full stack single page applications using : JavaScript, JQuery, Ember, Ruby, Rails, Node.js, Express, Mongodb, Bootstrap and many other technologies over a 13 week 500+ hour course.</p>
            </div>
            <div class="card card-block">
              <h4>Massasoit Community College</h4>
              <h6>2016 - 2021(expected)</h6>
              <p>I attended their CS transfer program to Umass where I held a 3.16 GPA (Dean's List).</p>
            </div>
          </div>
          <div class="collapse" id="additional-skills">
            <div class="card card-block">
              <h4>Additional Skills</h4>
              <p>Mongodb, Mongoose, Express, Bootstrap, HTML5, CSS, SASS, Ember, Git, Webpack, Grunt, Axios</p>
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>
