<div class="inner cover">
  <h1 class="cover-heading">Welcome.</h1>
  <p class="lead">I'm a full stack web developer with all the drive, ambition and curiosity to continue to grow my skill set. I love to code, I'm eager to learn and I'm excited to get to work.</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>

<%= source_helper("application") %>
