<div class="inner cover">
  <h1 class="cover-heading">Welcome.</h1>
  <p class="lead">Comfort is regression.  Seek out those who are constantly challenging you to improve and personal growth will be your reward.</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>
